{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },

  "ConnectionStrings": {
    "MyConnection": "Server=;Database=KingsCuDBt;User Id=;Password=;encrypt=false;",
    "LocalConnection": "Server=(localdb)\\MSSQLLocalDB;Database=KingsCut;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "AllowedHosts": "*"
}